SQLX_OFFLINE=true
SERVER_ADDR="0.0.0.0"
SERVER_PORT="6464"

DEPIX_TOKEN=""
SPARK_ADDRESS=""

JWT_SECRET="put a secret here"
JWT_EXPIRATION_SECONDS="604800" # 7 days
JWT_CHALLENGE_SECRET="put a challenge secret here"
JWT_CHALLENGE_EXPIRATION_SECONDS="10"

WEBHOOK_SECRET=""

DATABASE_URL="sqlite://database.db"